body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}
main {
    display: flex;
}
header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}
.selected_buttons {
    width: 30%;
}
select {
    width: 100%;
    text-align: center;
    background-color: inherit;
    border: none;
    color: #70D6FF;
    font-size: 1em;
    margin-bottom: 5%;
}
select:hover {
    color: #69db7e;
}
select:focus {
    color: #00090c;
    background-color: #70D6FF; 
}
footer {
    margin-top: 5%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer a {
    color: #70D6FF;
    text-decoration: none;
}
footer a:hover {
    color: #69db7e;
}
footer .rsschool {
    width: 100px;
    height: 50px;
    background-image: url("./assets/img/logo.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert(100%);
}
footer .rsschool:hover {
    filter: invert(70%);
}
footer .copyright {
    font-size: 14px;
    color: #70D6FF;
    text-align: center;
}
footer .copyright a {
    color: #42c7fc;
}
footer .copyright a:hover {
    color: #0090c9;
}
footer .copyright:before {
    content: '©';
}

@media screen and (max-width: 580px) {
    header h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }
}

@media screen and (max-width: 410px) {
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 760px) {
    .selected_buttons {
        width: 100%;
    }
    main {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}