:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-white: #FFFFFF;
    --color-light-s: #FAFAFA;
    --color-dark-s: #CDCDCD;
    --color-dark-i: #545454;
    --color-light-l: #F6F6F6;
    --color-dark-xl: #4C4C4C;
    --color-light-xl: #FFFFFF;
    --color-light-3xl: #292929;
    --color-dark-m: #B2B2B2;
    --font1: 20px;
    --fontstyle: Arial, sans-serif;
}
@font-face {
    font-family: Arial;
    src: url("../../assets/fonts/Arial.ttf");
}
@font-face {
    font-family: Georgia;
    src: url("../../assets/fonts/Georgia.ttf");
}
@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
/* ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
}
body {
    overflow-x: hidden;
}
h4 {
    font-weight: 400;
}
.overflow {
    overflow-y: hidden;
}
.scroll {
    overflow-y: auto;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
/* ----- */
.none {
    display: none;
}
/* -----header----- */
.header-container {
    padding-top: 4.7%;
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
}
.logo {
    text-decoration: none;
    align-items: center;
    width: 184px;
    height: 60px;
}
.logo-nav {
    display: none;
}
.logo:hover {
    cursor: pointer;
}
.logo-title {
    margin: 0;
    color: var(--color-primary);
    letter-spacing: 0.05em;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 35.2px;
    width: 194px;
}
.logo-subtitle {
    margin: 0;
    margin-top: 6%;
    margin-left:3%;
    letter-spacing: 1.2px;
    color: var(--color-white);
    font-family: Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.nav {
    margin-top: 16px;
    align-items: center;
    width: 443px;
    height: 27px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}
.nav-link {
    color: var(--color-dark-s);
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}
.nav-item > .active-link {
    color: var(--color-light-s);
}
.nav-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background-color: var(--color-primary);
    transition: width 0.5s;
}
.active-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-primary);
    /* transition: width 0.5s; */
}
/* .nav-link:hover::after {
    cursor: pointer;
    width: 100%;
} */
.nav-link:hover {
    color: var(--color-light-s);
}
.b-hamburger {
    display: none;
    padding: 0;
  }
/* ---------------main--------------- */
/* -----start-screen----- */
.start-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 908px;
    margin-top: -120px;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.start-content {
    display: flex;
    flex-direction: column; 
    align-self: center;
    gap: 42px;
    margin-left: 40px;
    margin-top: 7.8%;
    width: 460px;
    height: 322px;
}
.start-title {
    width: 310px;
    height: 114px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color: var(--color-white);
}
.start-description {
    width: 460px;
    height: 72px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-s);
}
.start-button {
    width: 207px;
    height: 52px;
    border: none;
    border-radius: 100px;
    background-color: var(--color-primary);
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    color: #292929;
}
.start-button:hover {
    cursor: pointer;
    background-color: var(--color-primary-light);
}
.start-puppy {
    margin: 0 auto;
    display: flex;
}
.about {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    margin: 0 auto;
    width: 100%;
    height: 588px;
}
.about-block {
    padding-top: 6.2%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* width: 50%; */
}
.about-title {
    margin-top: 3.7%;
    width: 430px;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2.1px;
    color: var(--color-dark-i);
}
.description {
    margin-top: -0.32%;
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-xl);
}
.about-pets {
    padding-top: 6.2%;
}
.our-friend {
    height: 877px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
    background-color: var(--color-light-l);
    /* padding-bottom: 100px; */
}
.our-friends-title {
    text-align: center;
    margin-top: 6.3%;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: var(--color-dark-i);
}
.slider-with-arrow {
    display: flex;
    gap: 53px;
}
.arrow {
    margin-top: 16%;
    width: 52px;
    height: 52px;
    background: inherit;
    border-radius: 50%;
    color: var(--color-light-3xl);
    border: 2px solid var(--color-primary);
    z-index: 100;
}
.arrow:hover {
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    background: var(--color-primary-light);
}
@keyframes animLeft {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes animRight {
    from {
        transform: translate(100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
.slider {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* animation-name: anim;
    animation-duration: .5s; */
    overflow-x: hidden;
    /* transform: translate(-100%, 0); */
    /* padding-left: 50%; */
}
.card-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 1.2px;
    color: var(--color-dark-i);
}
.card-img {
    width: 270px;
    height: 270px;
}
.card.anim-left {
    animation-name: animLeft;
    animation-duration: .2s;
}
.card.anim-right {
    animation-name: animRight;
    animation-duration: .2s;
}
.card {
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light-s);
}
.card:hover {
    cursor: pointer;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: var(--color-white);
}
.card-button {
    width: 187px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    background: inherit;
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    color: var(--color-light-3xl);
}
.card:hover .card-button {
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    background: var(--color-primary-light);
}
.our-friends-button {
    margin-top: 0.2%;
    width: 260px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    background: var(--color-primary);
    font-family: Georgia;
    font-weight: 400;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 1px;
    color: var(--color-light-3xl);
}
.our-friends-button:hover { 
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    background: var(--color-primary-light);
}
.how-help {
    margin: 0 auto;
    height: 611px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.how-help-title {
    text-align: center;
    margin-top: -1.6%;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: var(--color-dark-i);
    height: 90px;
}
.help-list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    list-style: none;
    column-gap: 120px;
    row-gap: 55px;
}
.help-list-item {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.help-list-item-icon {
    width: 60px;
    height: 60px;
}
.help-list-item-title {
    text-align: center;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: var(--color-dark-i);
}
.donation-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 462px;
    background-color: var(--color-light-l);
}
.donation {
    margin-top: 80px;
    display: flex;
    max-width: 915px;
    height: 282px;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.donation-dog {
    width: 505px;
    height: 261px;
}
.donation-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
    height: 282px;
}
.donation-title {
    text-align: left;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.1px;
    color: var(--color-dark-i);
    /* margin-top: -3%; */
}
.donation-subtitle {
    text-align: left;
    font-family: Georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.9px;
    color: var(--color-dark-i);
}
.donation-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 9px;
    background: var(--color-primary);
    width: 349px;
    height: 43px;
    text-decoration: none; 
}
.donation-card:hover {
    cursor: pointer;
    background: var(--color-primary-light);
}
.donation-card-img {
    width: 30px;
    height: 23px;
}
.number-card {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.1px;
    color: var(--color-dark-i);
}
.legal-information {
    font-family: Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
}
.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.footer {
    padding: 0 40px;
    padding-top: 40px;
    gap: 160px;
    width: 93,75%;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
}
.footer-questions {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 278px;
    height: 234px;
}
.questions-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2px;
    color: var(--color-light-xl);
}
.waiting-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px;
    letter-spacing: 2.2px;
    color: var(--color-light-xl);
}
.footer-waiting {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 302px;
    height: 234px;
}
.mail, .phone, .first-marker, .second-marker {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Georgia;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: var(--color-primary);
    text-decoration: none;
}
.footer-dog {
    width: 300px;
    height: 310px;
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: 877px; */
    background-color: rgba(41,41,41,0.6);
    z-index: 100;
}
.modal {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 6.2%;
    left: 2%;
    margin: 0 auto;
    width: 952px;
    height: 552px;
    animation-name: fade;
    animation-duration: 1s;  
}
.modal-close {
    color: var(--color-light-3xl);
    margin-left: 93.5%;
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background: inherit;
}
.modal-close:hover {
    cursor: pointer;
    background: var(--color-primary-light);
}
.modal-wrapper:hover {
    cursor: pointer;
}
.modal-wrapper:hover .modal-close {
    background: var(--color-primary-light);
}
.modal-content:hover + .modal-close {
    background: inherit;
}
.modal-content:hover {
    cursor: default;
}
.modal-content {
    border-radius: 9px;
    background-color: var(--color-light-s);
    width: 900px;
    height: 500px;
    display: flex;
    gap: 29px;
}
.content-description {
    margin-top: 50px;
    width: 351px;
    height: 362px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.description-name {
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #000000;
}
.description-second-name {
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.2px;
    color: #000000;
}
.mod-desc {
    width: 350px;
    height: 102px;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.9px;
    color: #000000;
}
.desc-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-photo {
    width: 500px;
    height: 500px;
    border-radius: 9px;
}
.description-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.bold {
    margin-left: 3px;
    font-weight: 700;
    letter-spacing: 2.3px;
}
.info {
    margin: 0;
    list-style-type: none;
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    color: #000000;
}
.info::before {
    color: var(--color-primary); /* Цвет маркера */
    content: "•";
}

@media (max-width: 1279px) {
    /* //------------// */
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    /* //------------// */
    .header-container {
        padding-top: 3.9%;
    }
    .header {
        width: 92.19%;
    }
    .start-container {
        height: 1165px;
        margin-top: -11.7%;
    }
    .start-content {
        align-self: flex-end;
        margin-top: 6.5%;
        margin-left: -0.1%;
    }
    .start-button {
        align-self: center;
    }
    .start-puppy {
        margin-left: 22%;
    }
    .puppy {
        width: 569px;
        height: 593px;
    }
    .about {
        width: 768px;
        height: 1048px;
        /* gap: 40px; */
    }
    .about-title {
        margin-top: 7.7%;
    }
    .description {
        margin-top: -0.2%;
        margin-bottom: -69.5%;
    }
    .card:nth-child(n+3) {
        display: none;
    }
    .slider-with-arrow {
        gap: 12px;
    }
    .slider {
        gap: 40px;
    }
    .arrow {
        margin-top: 27.2%;
    }
    .our-friends-title {
        margin-top: 10.5%;
    }
    .our-friends-button {
        margin-top: 0.3%;
    }
    .how-help {
        margin-top: -0.4%;
        height: 779px;
    }
    .help-list {
        width: 630px;
        column-gap: 60px;
    }
    .help-list-item {
        width: 170px;
        height: 113px;
    }
    .donation-dog {
        order: 2;
    }
    .donation-body {
        order: 1;
    }
    .donation-section {
        margin-top: 3px;
        height: 783px;
    }
    .donation{
        gap: 60px;
        justify-content: center;
        height: 603px;
    }
    .footer-container {
        height: 639px;
    }
    .footer {
        justify-content: center;
        gap: 60px;
        /* padding: 0 30px; */
        padding-top: 15px;
        /* width: 93,75%; */
        width: 768px;
        height: 100%;
    }
    .footer-dog {
        margin-top: 3px;
    }

    /* ------Modal--------- */
    .modal {
        top: 15.5%;
        left: 3.4%;
        margin: 0 auto;
        width: 682px;
        height: 402px;  
    }
    .modal-close {
        color: var(--color-light-3xl);
        margin-left: 91.1%;
        width: 52px;
        height: 52px;
        border: 2px solid var(--color-primary);
        border-radius: 50%;
        background: inherit;
    }
    .modal-photo {
        width: 350px;
        height: 350px;
    }
    .modal-content {
        width: 630px;
        height: 350px;
        gap: 11px;
    }
    .content-description {
        margin-top: 11px;
        width: 260px;
        height: 303px;
        gap: 20px;
    }
    .mod-desc {
        width: 265px;
        height: 98px;
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0.06em;
    }
    .description-info {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    .bold {
        letter-spacing: 2px;
    }
}

@media (max-width: 767px) {
    .none {
        display: none;
    }
    html {
        overflow-x: hidden;
    }
    /* html {
        overflow-x: hidden;
    }
    body {
        position: relative;
        overflow-x: hidden;
    } */
    @keyframes show {
        from {right: -100%;}
        to {right: 0%;}
    }
    @keyframes hide {
        from {right: 0%;}
        to {right: -100%;}
        
    }
    /* .header-container {
        width: 320px;
    } */
    /* //------------// */
    .b-hamburger {
        position: absolute;
        top: 49px;
        right: 53px;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 10px;
    }
    .nav {
        position: absolute;
        top: 13px;
        right: 30px;
    }
    /* //------------// */
    /* .logo {
        margin-top: 18px;
        margin-left: -1%;
    } */
    .b-hamburger .h-line{
        width: 30px;
        height: 3px;
        background-color: var(--color-primary);
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
    }
    .logo-nav {
        display: block;
        position: absolute;
        right: calc(100% - 205px);
        top: 30px;
        z-index: 2;
        text-decoration: none;
    }
    .b-hamburger {
        display: block;
        position: absolute;
        top: 20px;
        left: calc(100% - 84px);
        background-color: inherit;
        margin: 20px 0;
        width: 30px;
        height: 22px;
        z-index: 200;
    }
    .b-hamburger:hover {
        cursor: pointer;
    }
    .b-hamburger.is-active .line1 {
        transform: translate(10px, 11px) rotate(90deg);
    }
    .b-hamburger.is-active .line2 {
        transform: translate(0px, 0px) rotate(90deg);
    }
    .b-hamburger.is-active .line3 {
        transform: translate(-10px, -11px) rotate(90deg);
    }
    .nav-wrapper.open {
        position: absolute;
        top: 0;
        left: 0;
        animation-name: show;
        animation-duration: 1.3s;
        width: 100%;
        height: 823px;
        background-color: rgba(41,41,41,0.6);
        z-index: 50;
    }
    .nav-wrapper:hover {
        cursor: pointer;
    }
    .nav { 
        /* display: none; */
        margin-top: -3.8%;
        position: absolute;
        z-index: 100;
        width: 320px;
        right: -320px;
        animation-name: hide;
        animation-duration: 1.3s;
        height: 823px;
        padding-bottom: 400px;
        /* height: 823px; */
        background-color: var(--color-light-3xl);
        overflow-y: auto;
    }
    .nav:hover {
        cursor: default;
    }
    .nav.open {
        display: block;
        animation-name: show;
        animation-duration: 1.3s;
        right: 0%; 
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color-dark-s);
        width: 243px;
        height: 327px;
        gap: 40px; 
        margin: 0 auto;
        margin-top: 79.5%;
        /* padding-top: 129.5%; */
        /* overflow-y: auto; */
    }
    .nav-link {
        font-size: 32px;
        line-height: 51.2px;
    }
    .nav-item {
        text-align: center;
    }
    .start {
        margin-top: -15%;
    }
    .start-container {
        flex-direction: column;
        align-content: center;
        height: 823px;
        gap: 105px;
        background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); 
    }
    .start-content {
        width: 320px;
        height: 296px;
        margin-top: 150px;
        align-self: flex-end;
        height: 296px;
    }
    .start-title {
        text-align: center;
        letter-spacing: 0.06em;
        width: 250px;
        height: 64px;
        font-size: 25px;
        line-height: 32.5px;
        margin: 0 auto;
    }
    .start-description {
        text-align: center;
        margin-left: 4%;
        width: 300px;
        height: 96px;
    }
    .start-puppy {
        margin-left: -1%;
    }
    .puppy {
        margin-left: 53px;
        width: 260px;
        height: 272px;
    }
    .about {
        height: 974px;
        gap: 26px;
        width: 320px;
    }
    .about-block {
        height: 494px;
        align-items: center;
    }
    .about-title {
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        width: 300px;
        letter-spacing: 1.4px;
        font-size: 25px;
        line-height: 32.5px;
    }
    .description {
        margin-top: -0.95%;
        width: 270px;
        text-align: justify;
        height: 405px;
        gap: 22px;
    }
    .pets {
        width: 260px;
        height: 353.6px;
    }
    .our-friend {
        width: 100%;
        height: 791px;
        gap: 0px;
    }
    .our-friends-title {
        margin-top: 12.9%;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }
    .card:nth-child(n+2) {
        display: none;
    }
    .arrow {
        margin: 0px;
    }
    .arrow-left {
        position: relative;
        top: 3.6%;
        right: 24.5%;
        order: 1;
    }
    .arrow-right {
        position: relative;
        bottom: 6%;
        left: 24.5%;
        order: 1;
    }
    .slider-with-arrow {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .how-help {
        height: 745px;
        gap: 42px;
        margin-top: 0.6%;
    }
    .how-help-title { 
        font-size: 25px;
        line-height: 32.5px;
        height: 64px;
        letter-spacing: 1.5px;
    }
    .help-list-item-title {
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.8px;
        word-wrap: nowrap;
    }
    .help-list {
        column-gap: 30px;
        row-gap: 30px;
        width: 290px;
    }
    .help-list-item:last-child {
        margin-right: 55%;
    }
    .help-list-item-icon {
        width: 50px;
        height: 50px;
    }
    .help-list-item {
        width: 130px;
        height: 87px;
        gap: 21.5px;
    }
    .donation-section { 
        margin-top: -2px;
        height: 542.2px;
    }
    .donation {
        width: 320px;
        margin-top: 8%;
        height: 458.2px;
        gap: 42px;
    }
    .donation-dog {
        width: 260px;
        height: 135.2px;
    }
    .donation-body {
        width: 300px;
        height: 281px;
    }
    .donation-title {
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }
    .donation-subtitle {
        width: 273px;
        margin-left: 4%;
        text-align: center;
        line-height: 24px;
        word-wrap: nowrap;
        white-space: nowrap;
        letter-spacing: 0px;
    }
    .donation-card {
        margin-top: -0.45%;
        margin-left: 3%;
        width: 281px;
        height: 43px;
    }
    .number-card {
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 1px;
    }
    .legal-information {
        margin: 0 10px;
        text-align: justify;
    }
    .footer-container {
        margin-top: -0.57px;
        height: 809px;
    }
    .footer {
        width: 320px;  
        gap: 40px;
    }
    .footer-questions {
        align-items: center;
        height: 208px;
    }
    .questions-title {
        margin-top: -1%;
        width: 278px;
        height: 64px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }
    .waiting-title {
        margin-top: -7%;
        width: 270px;
        height: 64px;
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 1.5px;
    }
    .footer-waiting {
        align-items: center;
        height: 222px;
        width: 300px;
        gap: 40px;
    }
    .footer-dog {
        margin-top: -9%;
        width: 260px;
        height: 269px;
    }
    .first-marker {
        width: 300px;
        height: 46px;
    }
    .second-marker {
        width: 300px;
        height: 32px;
    }
    .first-marker-text {
        word-wrap: nowrap;
    }

    /* ------Modal--------- */
    .modal {
        top: 16.4%;
        left: 4.9%;
        margin: 0 auto;
        width: 271px;
        height: 393px;  
    }
    .modal-close {
        margin-left: 80.5%;
    }
    .modal-photo {
        display: none;
    }
    .modal-content {
        width: 240px;
        /* height: 100%; */
        height: 341px;
        padding-bottom: 50px;
    }
    .content-description {
        margin-top: 11px;
        width: 220px;
        height: 321px;
        gap: 15px;
    }
    .description-name {
        margin-left: 22.5%;
        font-size: 35px;
    }
    .description-second-name {
        margin: 0 auto;
        /* margin-left: 10px; */
        font-size: 18px;
        letter-spacing: 1px;
        text-align: stretch;
        white-space: nowrap;
    }
    .mod-desc {
        margin-left: 5%;
        width: 220px;
        height: 112px;
        font-size: 13px;
        line-height: 14px;
        text-align: justify;
    }
    .description-info {
        margin-top: 1.5%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .bold {
        font-size: 15px;
        letter-spacing: 2px;
    }
    .info {
        font-size: 13px;
        /* white-space: nowrap; */
        /* letter-spacing: 0.5px; */
    }
}
@media (max-width: 535px) {
    .start {
        margin-top: -23%;
    }
    .donation {
        margin-top: 13%;
    }
}
@media (max-width: 583px) {
    .slider-with-arrow {
        margin-top: 36px;
    }
    .our-friend {
        gap: 5px;
    }
    .our-friends-button {
        margin-top: 1.5%;
    }
}
